.chwapih1 {
  text-shadow: -2px 2px 2px #777;
  color: #E6E6E6;    
}

.chwapitable thead {
    border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 5px;
    background-color: #87C2D9;
}

.glyphicon-db {
  font-size: 4.0em;
  opacity: 0.2;   
}

.chwapidbglyph {
    float: right; /* **children floated left** */
    margin: 0 5px;
}

.chwapidbh1 {
  font-size: 48px;
  opacity: 0.5;   
}

.chwapidbtext {
  font-size: 18px;
  font-weight: bold;
}
/* Small devices (tablets, 768px and up) */
/*@media (min-width: 768px) {
    .row.vertical-align {
        display: flex;
        align-items: center;
    }
}*/
/*.icon_add {
    width: 30px;
    height: 30px;
    background: url("add.png") no-repeat scroll 0 0 transparent;
 }*/

.infoMessage {
    padding: 15px;
}

.rowSpacer {
    margin-top : 20px;
}
