@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@using (Html.BeginForm("Research", "Home", FormMethod.Post, new { @class = "form-signin", @id = "ResearchForm" }))
    {*@

<div class="row">
    <div class="col-md-4">
        @*@Html.LabelFor(m => m.ContainerIdentifier, "Contenu");*@
        <label for="txtContainer">Contenu</label> :
    </div>
    <div class="col-md-4">
        @*@Html.TextBoxFor(m => m.ContainerIdentifier, new { @required = "required", @autofocus = "autofocus", @class = "form-control" })*@
        <input type="text" id="txtContainer" class="form-control" required autofocus>
    </div>
    <div class="col-md-4">
        <button id="btnSearch" class="btn btn btn-primary btn-block" type="submit">Rechercher</button>
    </div>
</div>
<br />
<table id="gvSearchResults" class="table table-striped chwapitable">
    <thead>
        <tr>
            <th>Localisation</th>
            <th>Date - Heure</th>
        </tr>
    </thead>
</table>
@section scripts {
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        var gvSearchResults;
        $(document).ready(function () {
            gvSearchResults = $("#gvSearchResults").DataTable({
                dom: "lrtip",
                responsive: {
                    details: false
                }
            });
        });

        $("#btnSearch").click(function () {
            var containerIdentifier = $("#txtContainer").val().trim();
            if (containerIdentifier) {
                $.get('/api/goodstrackingapi/search?identifier=' + containerIdentifier,
                    function(data, status) {
                        gvSearchResults.clear();
                        $("#gvSearchResults").DataTable({
                            retrieve: true,
                            data: data
                        });
                    });
            }
        });
    </script>
}
