@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@using (Html.BeginForm("Research", "Home", FormMethod.Post, new { @class = "form-signin", @id = "ResearchForm" }))
    {*@

<div class="row">
    <div class="col-md-4">
        @*@Html.LabelFor(m => m.ContainerIdentifier, "Contenu");*@
        <label for="txtContainer">Contenu</label> :
    </div>
    <div class="col-md-4">
        @*@Html.TextBoxFor(m => m.ContainerIdentifier, new { @required = "required", @autofocus = "autofocus", @class = "form-control" })*@
        <input type="text" id="txtContainer" class="form-control" required autofocus>
    </div>
    <div class="col-md-4">
        <button id="btnSearch" class="btn btn btn-primary btn-block" type="submit">Rechercher</button>
    </div>
</div>

<br />

<table id="gvSearchResults" class="table table-striped chwapitable">
    <thead>
        <tr>
            <th>Localisation</th>
            <th>Date - Heure</th>
        </tr>
    </thead>
</table>

<script type="text/javascript">

</script>
