@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <Img src="~/Content/Images/logo_chwapi.png" class="img-responsive" alt="LOGO">
        </div>
        <div class="col-md-8">
            <h1 class="text-center">Nouvelle Application</h1>
        </div>
    </div>

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" type="button" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#actietracking">Activer la traçabilité d'un colis</a></li>
                    <li><a href="#stoppercontener">Stopper la traçabilité d'un colis</a></li>
                    <li><a href="#whereisitem">Où se trouve mon colis?</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <form class="form-signin">
        <div class="row">
            <div class="col-md-6">
                <label for="InputContener">Contenant (obligatoire)</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="InputContener" class="form-control" required autofocus>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                <label for="inputItem">Contenu (obligatoire)</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="inputItem" class="form-control" required width="9">
                <button type="button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
                </button>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-6">
                <label for="inputComment">Commentaires (facultatif)</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="inputComment" class="form-control" required>
            </div>
        </div>

        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Stopper la traçabilité</button>
    </form>

</div> <!-- /container -->


