@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("AddTracker", "Home", FormMethod.Post, new { @class = "form-signin" }))
{
    <div class="row">
        <div class="col-md-6">
            <label for="InputContener">Contenant (obligatoire)</label>
        </div>
        <div class="col-md-6">
            <input type="text" id="InputContener" class="form-control" required autofocus>
        </div>
    </div>
        <div class="row">
            <div class="col-md-6">
                <label for="inputItem">Contenu (obligatoire)</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="inputItem" class="form-control" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="inputComment">Commentaires (facultatif)</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="inputComment" class="form-control" required>
            </div>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Stopper la traçabilité</button>
}
