@model GoodsTracking.Web.ViewModels.HomeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-3">
        <div class="alert alert-success" role="alert">
            <div class="chwapidbglyph"><i class="glyphicon glyphicon-heart glyphicon-db"></i></div>
            <span class="chwapidbh1">3</span>
            <br/>
            <span class="chwapidbtext">poche de sang en cours</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="alert alert-info" role="alert">
            <div class="chwapidbglyph"><i class="glyphicon glyphicon-lock glyphicon-db"></i></div>
            <span class="chwapidbh1">5</span>
            <br />
            <span class="chwapidbtext">produits opérations</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="alert alert-warning" role="alert">
            <div class="chwapidbglyph"><i class="glyphicon glyphicon-envelope glyphicon-db"></i></div>
            <span class="chwapidbh1">9</span>
            <br />
            <span class="chwapidbtext">message en transit.</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="alert alert-danger" role="alert">
            <div class="chwapidbglyph"><i class="glyphicon glyphicon-warning-sign glyphicon-db"></i></div>
            <span class="chwapidbh1">0</span>
            <br />
            <span class="chwapidbtext">Anomalie de transit</span>
        </div>
    </div>
</div>


